.avatar
  background-image: url('./images/avatar.jpg')
  background-size: contain
  width: 200px
  height: @width
  border-radius: @width

pre em
  font-style: normal
  color: #ff97a0

li
  font-family: didot, times new roman, serif
  font-style: italic
  &.dim
    opacity: .25

.static
  transform: none !important

.contain
  background-size: contain !important
  background-repeat: no-repeat

.react
  background-image: url('./images/react.png')
  background-size: 40%
  background-repeat: no-repeat

.css-modules-logo
  svg
    transform: scale(0.75)

[data-bespoke-backdrop='houston-video']
  video
   position: fixed
   top: 0
   left: 0
   height: 105%
   right: 0

.nicolesullivan
  background-image: url('./images/nicolesullivan.png')
  background-position: 50% 65%
  transform-origin: 60% 40%
  filter: blur(15px)

.jonathansnook
  background-image: url('./images/jonathansnook.jpg')
  transform-origin: 60% 20%
  filter: blur(15px)

.yandex
  background-image: url('./images/yandex.jpg')
  filter: blur(15px)
  &.bespoke-backdrop-active
    opacity: 0.15

.sunilpai
  background-image: url('./images/sunilpai.png')
  filter: blur(15px)

.olegslobodskoi
  background-image: url('./images/olegslobodskoi.jpg')
  background-position: 50% 75%
  transform-origin: 60% 40%
  filter: blur(15px)

.addyosmani
  background-image: url('./images/addyosmani.jpg')
  background-position: 50% 0
  transform-origin: 40% 40%
  filter: blur(15px)

.aphrodite
  background-image: url('./images/aphrodite.jpg')
  transform-origin: 40% 30%
  filter: blur(15px)

.atomic
  background-image: url('./images/atomic.jpg')
  transform-origin: 60% 50%
  filter: blur(15px)

.mrmrs
  background-image: url('./images/mrmrs.jpg')
  filter: blur(15px)

.ryantsao
  background-image: url('./images/ryantsao.jpg')
  transform-origin: 50% 40%
  filter: blur(15px)

.styletron-virtual-classes
  background-image: url('./images/styletron-virtual-classes.svg')
  background-size: 70%
  background-repeat: no-repeat
  background-color: #fff
  &.bespoke-backdrop-active
    opacity: 1

.styletron-size-airbnb
  background-image: url('./images/styletron-size-airbnb.svg')
  background-size: 70%
  background-repeat: no-repeat
  background-color: #fff
  &.bespoke-backdrop-active
    opacity: 1

.bower
  background-image: url('./images/bower.svg')
  background-color: #FFCC2F
  background-position: 0 0
  transform-origin: 40% 30%
  filter: blur(15px)

.npm-vs-bower
  background-image: url('./images/npm-vs-bower.png')
  background-size: 50%
  background-repeat: no-repeat
  background-color: #fff
  &.bespoke-backdrop-active
    opacity: 1

.maxandnik
  background-image: url('./images/maxandnik.jpg')
  transform-origin: 50% 40%
  filter: blur(15px)

.iphone
  background-image: url('./images/iphone.jpg')
  filter: blur(15px)

.necolas
  background-image: url('./images/necolas.jpg')
  filter: blur(15px)

.lelandrichardson
  background-image: url('./images/lelandrichardson.jpg')
  filter: blur(15px)

.microsoft
  background-image: url('./images/microsoft.jpg')
  filter: blur(15px)

.yoga-site
  background-image: url('./images/yoga-site.png')
  background-size: 90%
  background-position: 50% 100%
  background-repeat: no-repeat
  background-color: #97dccf
  &.bespoke-backdrop-active
    opacity: 1

.yoga
  background-image: url('./images/yoga.svg')
  background-color: #97dccf
  filter: blur(10px)

.yoga-text
  background-color: #97dccf;
  &.bespoke-backdrop-active
    opacity: 1
[data-bespoke-backdrop='yoga-text']
  color: #2a7d6d

.jongold
  background-image: url('./images/jongold.jpg')
  background-position: 50% 20%
  transform-origin: 50% 30%
  filter: blur(15px)

.react-sketchapp
  background-image: url('./images/react-sketchapp.png')
  background-color: #282c34
  &.bespoke-backdrop-active
    opacity: 1

[data-bespoke-backdrop='react-sketchapp-video']
  video
   position: fixed
   top: 0
   left: 0
   bottom: 0
   right: 0
.react-sketchapp-video
  background-color: #24282E
  &.bespoke-backdrop-active
    opacity: 1
